@model LogMeIn.Models.ChangeForgottenPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Change password.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
         
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.ResetPasswordToken)
                @Html.TextBoxFor(m => m.ResetPasswordToken)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change Password" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
