@model LogMeIn.Raven.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Forgot password.</h2>
</hgroup>

@if (ViewBag.PasswordResetToken != null) {
    <p>An email was sent that contains instructions to change your password.</p>
    <p>@ViewBag.PasswordResetToken</p>
} else {
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
         
        <fieldset>
            <legend>Forgot Password Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
            </ol>
            <input type="submit" value="Forgot Password" />
        </fieldset>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
